.timer-wrapper {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    width: 80%;
    max-width: 40rem;

    border: 1px solid black;
    border-radius: 1em;
}

.set-timer {
    font-size: 0.8rem;
    color: grey;
}

.timer-text {
    font-size: 2rem;
    color: black;
    font-weight: bolder;
}

.set-timer-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
 
.set-timer-text {
    border: none;
    background-color: lightgrey;
    text-align: right;
}

.timer-button {
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.timer-button:hover {
    filter: brightness(0.8);
}

.timer-button.blue {
    background-color:lightblue;
}

.timer-button.large {
    font-size: 1.5rem;
}

.delete-button {
    background-color: #C70000;;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #E04444;
}

.queue-member {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}
